# <IfModule mod_rewrite.c>
#   RewriteEngine On
  
#   # Исключаем sitemap.xml из любых других правил
#   RewriteRule ^sitemap\.xml$ - [L]
  
#   # Остальные правила для Nuxt приложения
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteRule ^(.*)$ / [QSA,L]
# </IfModule>