@use 'sass:math';
@use './functions' as f;

//! НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
//? Минимальная ширина страницы
$minWidth: 320;
//? Ширина полотна (макета)
$maxWidth: 1920;
//? Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1600;
//? Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPaddingX: 30;

//? Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPaddingX;

//* Брейк-поинты
$pc: f.toEm($containerWidth); // ПК, ноутбуки
$tablet: f.toEm(1023.98); // Планшеты
$mobile: f.toEm(767.98); // Телефоны L
$mobileSmall: f.toEm(479.98); // Телефоны S

//! Ограничивающий контейнер ======================================================================================================================================================================================================================
/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Снипет (HTML): cnt
*/
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: f.toRem($maxWidthContainer);
			box-sizing: content-box;
			margin-inline: auto;
		}
		@if ($containerPaddingX>0) {
			padding-inline: f.toRem(math.div($containerPaddingX, 2));

         @media (max-width:$mobile){
            padding-inline: f.toRem(math.div($containerPaddingX, 2.5));
         }
		}
	}