@use './functions' as *;
@use './mixins' as m;
@use './container' as c;

$font-family: "Montserrat";
$font-family2: "RubikBurned";

body {
   background-color: var(--bg);
   color: var(--color);
   transition: background-color var(--transition-duration);
   @include m.adaptiveValue("font-size", 16, 14);
}

body:has(dialog[open]) {
   overflow: hidden;
   filter: blur(12px);
 }

 body:has(dialog:not([open])) {
   transition: all .4s;
 }


h1 {
   color: var(--light-green);
   @include m.adaptiveValue("font-size", 26, 20);
}

h2 {
   font-weight: 500;
   @include m.adaptiveValue("font-size", 22, 18);
}

h3 {
   font-weight: 500;
   @include m.adaptiveValue("font-size", 18, 16);
}

a {
   color: inherit;
   &[class] {
      text-decoration: none;
   }

   // @include m.hover {
   //    color: var(--warning-hover);
   // }

   &:focus-visible {
      outline: toRem(2) dashed var(--warning-color);
      outline-offset: toRem(4);
      transition-duration: 0s !important;
   }
}

button, 
label,
select,
input {
   &:focus-visible {
      outline: toRem(2) solid var(--warning-color);
      outline-offset: toRem(4);
      transition-duration: 0s !important;
   }

   // &:active {
   //    background-color: var(--danger-color);
   // }
}

.icon-bel-ruble {
   translate: toRem(1) toRem(1);
   font-size: toRem(12);
   color: currentColor;
}

//*select start======================================================================================================================
.select-wrapper {
   position: relative;
   display: flex;
   justify-self: start;
 
 &::before,
   &::after{
      content: '';
      pointer-events: none;
      position: absolute;
      top: toRem(10);
      width: toRem(6);
      height: toRem(2);
      background-color: var(--danger-color);
   }
   &::before {
      right: toRem(9);
      transform: rotate(-125deg);
   }
   &::after {
      right: toRem(6);
      transform: rotate(125deg);
   }
 }
 .select {
   width: toRem(54);
   padding-inline: toRem(4);
   padding-block: toRem(1);
   border: toRem(2) solid var(--danger-color);
   border-radius: toEm(8, 18);
   font-weight: 600;
   font-size: toRem(12);
   color: var(--danger-color);
   outline: none;
   appearance: none;
   cursor: pointer;
}
.option {
   border-radius: toRem(8);
  }
//*select end======================================================================================================================


.hidden-tablet {
   @media (max-width:c.$tablet){
      display: none;
   }
}

.hidden-mobile {
   @media (max-width:c.$mobile){
      display: none;
   }
}

.visible-tablet {
   @media (min-width:c.$tablet){
       display: none; 
   }
}

.visible-mobile {
   @media (min-width:c.$mobile){
       display: none; 
   }
}

.visually-hidden {
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   border: 0 !important;
   padding: 0 !important;
   white-space: nowrap !important;
   clip-path: inset(100%) !important;
   clip: rect(0 0 0 0) !important;
   overflow: hidden !important;
}